[submodule "reports/reveal.js"]
	path = reports/reveal.js
	url = https://github.com/hakimel/reveal.js.git
[submodule "reports/--force"]
	path = reports/--force
	url = https://github.com/hakimel/reveal.js.git
